$bootstrap-sass-asset-helper: true; //this will make bootstrap sass available for the project
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass';
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';
// @import 'node_modules/slick-carousel/slick/slick.css';
// @import 'node_modules/slick-carousel/slick/slick-theme.css';

@import 'bootstrap';
// @import 'bootstrap/theme';

@import 'theme/color-scheme';
// @import './theme/typography.scss';
@import './override.scss';

.header {
  background-color: $accent-dark;
  > h1 {
    color: $white;
    padding: 15px 15px;
  }
}
.wrap {
  width: 100%;
}
.iframe-home {
  max-height: 200px;
  text-align: center;
}
