//MARK: Html Element
body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
}
h1 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}
li {
  list-style: none;
  &.with-bullet {
    list-style: bullet;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $accent-fiery;
  }
  &:active {
    color: $accent-fiery;
  }
}
//MARK: Alignment, Margin, and Padding override
.text-center {
  text-align: center;
}
.marg-zero {
  margin: 0 !important;
}
.margbot-zero {
  margin-bottom: 0;
}
.margtop-zero {
  margin-top: 0;
}
.padd-zero {
  padding: 0 !important;
}
.paddbot-zero {
  padding-bottom: 0;
}
.paddtop-zero {
  padding-top: 0;
}

.marg-center {
  margin: 0 auto;
}
.paddtop-120 {
  padding-top: 120px;
}

.row-header {
  margin: 45px;
  text-align: center;
  > a {
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
  }
}

.marg-ver-base {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marg-hor-base {
  margin-left: 10px;
  margin-right: 10px;
}

.padd-ver-base {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padd-hor-base {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-items-icon {
  display: none;
}

// .menu-items-inline {
//   float: right;
// }

.menu-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99999;
}

.populix-btn {
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  border: 0;
  width: 100px;
  &.register {
    background-color: #009cf9;
  }
  &.signin {
    background-color: #fead50;
  }
}

.list-item {
  font-size: 15px;
  color: #009cf9;
  margin-left: 50px;
}

.header-main {
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 25px;
}

.header-img {
  margin: 0 150px;
}

.menu-item-block {
  padding: 25px 15px;
  .list-item {
    margin: 25px 0;
  }
}

.main-banner {
  // TODO: Add the mobile version inside the media screen
  background-color: #ffffff;
  background-image: url('/static/assets/desktop-assets/Group\ 66.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  position: relative;
  padding-bottom: 27%;
  .banner-child {
    position: absolute;
    left: 25%;
    top: 10%;
    right: 25%;
    bottom: 10%;
    padding: 0px 5%;
    text-align: center;
    > h1 {
      color: #094b6b;
      margin-bottom: 0;
    }
    h3 {
      color: #999999;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}

.partners-main {
  background-color: #f9f9f9;
  padding: 35px 0;
  .no-carousel {
    display: block;
  }
  .with-carousel {
    display: none;
  }
}

.btn-banner {
  padding: 10px 25px;
  font-weight: bold;
  background-color: #fead50;
  font-size: 16px;
  border: 0px;
}

.article-parent {
  background-color: #009cf9;
  padding: 35px 0px;
  .img-article {
    position: relative;
    bottom: 60px;
  }
}

.howto-parent {
  .mobile {
    display: none;
  }
}
.testimonial-parent {
  background-color: #f9f9f9;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px #d6d6d6;
  padding: 10px 5px;
  > img {
    max-width: 80px;
  }
}

.article-bottom {
  .no-carousel {
    display: block;
  }
  .with-carousel {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.footer {
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
  padding: 20px;
  .desk-footer {
    display: inline-block;
  }
  .mobile-footer {
    display: none;
  }
}
.footer-ext {
  display: none;
}
// # region Media Screen
@media screen and (min-width: 1920px) {
  .main-banner {
    .banner-child {
      left: 0%;
      top: 20%;
      right: 0%;
      bottom: 20%;
      padding: 0px 34%;
      > h1 {
        font-size: 32px;
      }
      h3 {
        color: #999999;
        font-weight: lighter;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .main-banner {
    .banner-child {
      > h1 {
        font-size: 32px;
      }
      h3 {
        color: #999999;
        font-weight: lighter;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .menu-items-inline {
    display: none;
  }
  .menu-items-icon {
    display: block;
    float: right;
  }
  .header-main {
    padding: 10px;
  }
  .header-img {
    margin: 0;
  }
  .partners-main {
    .with-carousel {
      display: block;
    }
    .no-carousel {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-banner {
    background-color: #ffffff;
    background-image: url('/static/assets/mobile-assets/Group\ 66.1.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: relative;
    padding-bottom: 100%;
    .banner-child {
      position: absolute;
      left: 0%;
      top: 10%;
      right: 0%;
      bottom: 20%;
      padding: 0px 7%;
      text-align: center;
      > h1 {
        color: #094b6b;
        font-size: 25px;
      }
      h3 {
        color: #999999;
        font-weight: lighter;
        margin-top: 5px;
        font-size: 14px;
      }
    }
    .btn-banner {
      padding: 10px 15px;
      font-weight: bold;
      background-color: #fead50;
      font-size: 14px;
      border: 0px;
    }
  }
  .article-top {
    text-align: center;
    margin-bottom: 25px;
  }
  .article-bottom {
    text-emphasis: center;
    .with-carousel {
      display: block;
    }
    .no-carousel {
      display: none;
    }
  }
  .article-parent {
    background-color: #009cf9;
    padding: 35px 0px;
    .img-article {
      position: relative;
      bottom: 10px;
    }
  }

  .howto-parent {
    .headline {
      text-align: center;
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  .footer {
    .desk-footer {
      display: none;
    }
    .mobile-footer {
      display: inline-block;
    }
  }

  .footer-ext {
    display: block;
  }
}

// # endregion
